@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
    /* color variables */
    --bm-bg-color: #222;
    --bbt-link-color: #9d9d9d;
    --bbt-red: #ca3d3d;
    --bbt-amber: #d99400;
    --bbt-green: #61a138;
    --bbt-divider: #3a3a3a;
    --bbt-label: rgba(255, 255, 255, 0.6);
    --bbt-widget-bg: #191919;
    font-family: "Open Sans", sans-serif;

    @layer bg-[var(--bm-bg-color) ];
    margin-top: 16px;

    a {
        color: var(--bbt-link-color);
        @apply underline;
        @apply transition-colors;
        @apply hover:brightness-50;
    }

    .section {
        @apply border-b items-center;
        border-bottom-color: var(--bbt-divider);
        margin: 16px 0;
        padding-bottom: 16px;
        &:last-child {
            @apply mb-0;
        }
    }

    .cols_4 {
        @apply grid grid-cols-6 gap-4;
    }
    .cols_3 {
        @apply grid grid-cols-3 gap-4;
    }
    .cols_2 {
        @apply grid grid-cols-2 gap-4;
    }

    .data_point {
        @apply mb-2;
        @apply flex flex-col;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
        .data_point_label {
            color: var(--bbt-label);
            @apply inline-block;
            @apply uppercase;
            @apply mb-1;
            @apply font-light;
            font-size: 12px;
        }
        .data_point_value {
            @apply text-white font-semibold;
            @apply inline-block;
            font-size: 14px;
        }
        &.severity_red {
            .data_point_value {
                color: var(--bbt-red);
            }
        }
        &.severity_amber {
            .data_point_value {
                color: var(--bbt-amber);
            }
        }
        &.severity_green {
            .data_point_value {
                color: var(--bbt-green);
            }
        }
        &:last-child {
            @apply mb-0;
        }
    }

    .widget {
        @apply p-4 rounded-md shadow-md;
        @layer shadow-inner-sm;
        background-color: var(--bbt-widget-bg);
        .heading {
            @apply mb-2;
            @apply flex items-center justify-between;
            .title {
                @apply font-bold text-white uppercase;
                font-size: 14px;
            }
        }
        .tag {
            @apply inline-block rounded-full font-bold text-white uppercase;
            font-size: 12px;
            line-height: 12px;
            padding: 4px 8px;
            text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
            &.severity_red {
                background-color: var(--bbt-red);
            }
            &.severity_amber {
                background-color: var(--bbt-amber);
            }
            &.severity_green {
                background-color: var(--bbt-green);
            }
        }
    }

    .player_banner {
        @apply flex items-center;
        .player_banner_avatar {
            width: 64px;
            height: 64px;
            @apply overflow-clip rounded-md mr-4 border border-white shadow-sm;
        }
        .player_banner_info {
            .player_name {
                @apply font-semibold mb-2;
                font-size: 32px;
                line-height: 32px;
            }
            .player_steam_profile_url {
                a {
                    @apply text-blue-400 hover:underline;
                    font-size: 14px;
                    line-height: 14px;
                }
            }
        }
    }
}
