@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 14px;

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
        @apply my-8;
    }

    a {
        @apply text-blue-500;
        @apply hover:text-blue-300 underline;
        @apply transition-colors;
    }

    /* dont apply underline to battlemetrics buttons ("Ban Player" | "Public Profile") */
    li.css-gx0a6d a {
        @apply no-underline;
    }
}
